<div class="show">
<h1 class="myforms">Contact Me</h1>

<% form_for(@message) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :company %>
    <%= f.text_field :company %>
  </p>
  <p>
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :subject %>
    <%= f.text_field :subject %>
  </p>
  <p>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </p>
<br/>
  <p>
    <%= f.submit 'Send' %>
  </p>
<% end %>
</div>
