<h3><%= movie.movie_name%></h3><p class="spacer"><b><%= h(movie.date_seen.strftime("%x"))%></b></p>
<p><%=image_tag movie.poster.url(:thumb)%></p>
<br/>
<p ><%=truncate(movie.movie_synopsis, :length => 100, :separator => ' ')%>
<span class="spacer"><%= link_to_unless_current h("More"), movie%></span></p>



