
<div class="show">
<% div_for @movie do%>
<h2><%= @movie.movie_name%></h2>
<p><b><%= h(@movie.date_seen.strftime("%x"))%></b></p>
<br/>
<p><%= image_tag @movie.poster.url(:medium)%></p>
<br/>
<div class="rc"><%=RedCloth.new(@movie.movie_synopsis).to_html.html_safe%></div>
<%= (@movie.movie_review)%>
<%end%>
<br/>
<p>
<%if admin?%>
<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to "Destroy", @movie, :confirm => 'Are you sure?', :method => :delete %> |
<%end%>
<%= link_to 'All Movies', movies_path %>
</p>
</div>
