<h2><%= dance.dance_name%> - <%= h(dance.dance_date_one.strftime("%x"))%> </h2>
<p><b>Location:</b> <%= dance.dance_location%></p>
<p><b>Time:</b> <%= h(dance.dance_time.strftime("%I:%M"))%></p>
<p><b>Lessons:</b> Lesson One - <%= h(dance.lesson_one_description)%> - <%= h(dance.lesson_one_time.strftime("%I:%M%p"))%></p>
<br/>
<p><%= image_tag dance.photo.url(:medium)%></p>
<br/>
<p><%=truncate(dance.dance_description, :length => 100, :separator => ' ')%></p>
<p><span><%= link_to_unless_current h("More"), dance%></span></p>
<br/><br/>
