<h1>Editing dance</h1>

<% form_for(@dance) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :event %><br />
    <%= f.text_field :event %>
  </p>
  <p>
    <%= f.label :event_location %><br />
    <%= f.text_field :event_location %>
  </p>
  <p>
    <%= f.label :event_time %><br />
    <%= f.datetime_select :event_time %>
  </p>
  <p>
    <%= f.label :event_description %><br />
    <%= f.text_area :event_description %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @dance %> |
<%= link_to 'Back', dances_path %>