<div class="show">
<% div_for @dance do%>
<h2><%= @dance.dance_name%></h2>
<p><b><%= h(@dance.dance_time.strftime("%x"))%></b></p>
<p><%= image_tag @dance.photo.url(:medium)%></p>
<%= simple_format h(@dance.dance_description)%>
<%end%>
<p>
<%if admin?%>
<%= link_to 'Edit', edit_dance_path(@dance) %> |
<%= link_to "Destroy", @dances, :confirm => 'Are you sure?', :method => :delete %> |
<%end%>
<%= link_to 'All Dances', dances_path %>
</p>