<% form_for (@location) do |f| %>
  <%= f.error_messages %>
  <p>
   <%= f.label :location_name %><br />
    <%= f.text_field :location_name %>
  </p>
  <p>
    <%= f.label :location_address %><br />
    <%= f.text_field :location_address %>
  </p>
<p>
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </p>
<p>
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </p>
<p>
    <%= f.label :tripday_date %><br />
    <%= f.date_select :tripday_date %>
  </p>
<p>
    <%= f.label :tripday_log %><br />
    <%= f.text_area :tripday_log %>
  </p>
<br />
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
