<div class = "show">
<br/>
<!--<p><%= gmaps4rails(@onelocation) %></p>-->

<%=gmaps({
       "map_options" => {"auto_zoom" => false, "zoom" => 12, "type" => 'TERRAIN', "center_latitude" => @location.latitude, "center_longitude" => @location.longitude },
       "onelocation"     => {"data" => @onelocation }
      })%>
<br/>
<h2><%= h(@location.tripday_date.strftime("%x"))%> - <%= @location.location_name%></h2>
<div class="rc"><%=RedCloth.new(@location.tripday_log).to_html.html_safe%></div>
<br/>
<p>
<%if admin?%>
<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to "Destroy", @location, :confirm => 'Are you sure?', :method => :delete %> |
<%end%>
<%= link_to 'All points', blogs_path %>
</p>
</div>


