<div class = "show">
<p id="notice"><%= notice %></p>
<p><%= gmaps4rails(@oneplace) %></p>
<p>
  <b>Location name:</b>
  <%= @location.location_name %>
</p>

<p>
  <b>Location address:</b>
  <%= @location.location_address %>
</p>

<p>
  <b>Longitude:</b>
  <%= @location.longitude %>
</p>

<p>
  <b>Latitude:</b>
  <%= @location.latitude %>
</p>

<p>
  <b>Tripday date:</b>
  <%= @location.tripday_date %>
</p>

<p>
  <b>Tripday log:</b>
  <%= @location.tripday_log %>
</p>


<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
</div>
